RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

<filesMatch "\.(html|htm|js|css|png|jpg|jpeg|gif|ico)$">
    Header set Cache-Control "max-age=432000, public"
</filesMatch>
